$primary-color: #01f7b6;
$secondary-color: #e8293b;
$text-color: #0e0e0e;
$text-color-white: #fff;
$bg-color: #fff;
$bg-color-dark: #0e0e0e;
$border-color: #eee;

$t-time: 300ms;
$t-ease: ease-in-out;


$font-primary: 'Poppins', Arial, sans-serif;
$font-secondary:'Fjalla One', Arial sans-serif;
